body{
    font-family:'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f9f9f9, #faf0d7);
}

.login-box{
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    height: 500px;
    width: 400px;
    border-radius: 20px;
}

.login-form input {
    height: 30px;
    width: 300px;
    margin-bottom: 16px;
    border: 1px solid grey;
    border-radius: 5px;
}

#btn {
    margin-top: 16px;
    background-color: rgb(255, 145, 0);
    color: white;
    width: 307px;
    border: 0;
    font-weight: 600;
    transition: background-color 0.4s ease;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    color: grey;
    font-size: 0.8rem;
}

input:focus{
    outline: none;
    border: 3px solid #50aaff;
    transition: border-color 0.25s ease-in;
}

#reg {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    height: 30px;
    width: 307px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.4s ease;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 0.8rem;
    color: grey;
}

#btn:hover{
    background-color: rgb(203, 72, 6);
}

#reg:hover {
    background-color: rgb(75, 75, 75);
}